$font-path: "/fonts";
$golos-text-version: "2.005";
$commit-mono-version: "1.143";

:root {
    --font-sans-serif: "Golos Text";
    --font-monospace: "Commit Mono";
}

@mixin font-face(
    $family,
    $file,
    $weight: normal,
    $style: normal,
    $format: "woff2"
) {
    @font-face {
        font-family: $family;

        @if $format == "ttf" {
            src: url("#{$font-path}/#{$file}.ttf") format("truetype");
        } @else {
            src:
                url("#{$font-path}/#{$file}.woff2") format("woff2"),
                url("#{$font-path}/#{$file}.woff") format("woff");
        }

        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}
@include font-face("Hind", "hindi/Hind-Light", 300, normal, "ttf");
@include font-face("Hind", "hindi/Hind-Regular", 400, normal, "ttf");
@include font-face("Hind", "hindi/Hind-Medium", 500, normal, "ttf");
@include font-face("Hind", "hindi/Hind-SemiBold", 600, normal, "ttf");
@include font-face("Hind", "hindi/Hind-Bold", 700, normal, "ttf");

:lang(hi) {
    font-family: "Hind", sans-serif;
}

// Golos Text
@font-face {
    font-style: normal;
    font-weight: 400 900;
    src: url("#{$font-path}/golos-text.woff2?v=#{$golos-text-version}")
        format("woff2");
    font-family: "Golos Text";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-style: oblique -12deg;
    font-weight: 400 900;
    src: url("#{$font-path}/golos-text.woff2?v=#{$golos-text-version}")
        format("woff2");
    font-family: "Golos Text";
    font-display: swap;
}

// Commit Mono
@font-face {
    font-style: normal;
    font-weight: 100 900;
    src: url("#{$font-path}/commit-mono.woff2?v=#{$commit-mono-version}")
        format("woff2");
    font-family: "Commit Mono";
    font-display: swap;
}

@font-face {
    font-style: italic;
    font-weight: 100 900;
    src: url("#{$font-path}/commit-mono.woff2?v=#{$commit-mono-version}")
        format("woff2");
    font-family: "Commit Mono";
    font-display: swap;
    font-variation-settings: "ital" 1;
}
