@use "../themes/ametrine/sass/abstracts/functions" as *;
@use "../themes/ametrine/sass/base/root";
@use "../themes/ametrine/sass/base/fonts";
@use "../themes/ametrine/sass/base/animations";

:root {
    --accent-light-h: 270;
    --accent-light-s: 13%;
    --accent-light-l: 48%;
    --accent-dark-h: 290;
    --accent-dark-s: 20%;
    --accent-dark-l: 71%;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);
    line-height: 1.5rem;
    font-family:
        var(--font-sans-serif), var(--font-system-ui), var(--font-emoji);
    text-wrap: pretty;
    overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2rem 0 1rem;
    color: var(--accent-color);
    font-weight: var(--font-weight-bold);
    line-height: 1;
    letter-spacing: -0.05em;
    text-decoration: underline;
    text-decoration-color: var(--bg-muted-1);
    text-decoration-thickness: 0.125em;
    text-wrap: balance;
}

h1 {
    font-size: var(--font-size-xxx-large);
}

h2 {
    font-size: var(--font-size-xx-large);
}

h3 {
    font-size: var(--font-size-x-large);
}

h4 {
    font-size: var(--font-size-large);
}

h5 {
    font-size: var(--font-size-medium);
}

h6 {
    font-size: var(--font-size-small);
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: var(--font-size-xx-large);
    }

    h2 {
        font-size: var(--font-size-x-large);
    }

    h3 {
        font-size: var(--font-size-large);
    }

    h4 {
        font-size: var(--font-size-medium);
    }

    h5 {
        font-size: var(--font-size-small);
    }

    h6 {
        font-size: var(--font-size-x-small);
    }
}

a {
    color: var(--accent-color);
    font-weight: var(--font-weight-semi-bold);
    text-decoration-thickness: rpx(1);

    &:hover {
        text-decoration-style: wavy;
    }
}

.profile-picture {
    box-shadow: var(--shadow);
    border-radius: 50%;
    max-width: 6rem;
}

.status {
    margin-bottom: 0.5rem;
    box-shadow: var(--edge-highlight), var(--shadow);
    border-radius: var(--rounded-corner);
    background-color: var(--bg-muted-1);
    padding: 0.5rem 0.75rem;
}

.status-username {
    margin-bottom: 0.5rem;
    color: var(--fg-muted-2);
    font-size: var(--font-size-small);

    a {
        font-size: 1rem;
    }
}

.status-content {
    margin: 0;
    color: var(--accent-color);
    font-weight: var(--font-weight-semi-bold);
}

article + p a {
    display: inline-block;
    transition:
        all var(--transition),
        transform var(--transition-bezier);
    box-shadow: var(--edge-highlight);
    border-radius: 999px;
    background-color: var(--bg-muted-1);
    padding: 0.375rem 0.75rem;
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;

    &:hover {
        background-color: var(--bg-muted-2);
    }

    &:active {
        transform: var(--active);
    }
}
