@use "../themes/ametrine/sass/style";
@use "fonts";
@use "layout/container-fill";
@use "components/nanolog";
@use "components/fancy-list";

article + p a {
    display: inline-block;
    transition:
        all var(--transition),
        transform var(--transition-bezier);
    box-shadow: var(--edge-highlight);
    border-radius: 999px;
    background-color: var(--bg-muted-1);
    padding: 0.375rem 0.75rem;
    font-weight: var(--font-weight-semi-bold);
    text-decoration: none;

    &:hover {
        background-color: var(--bg-muted-2);
    }

    &:active {
        transform: var(--active);
    }
}
