language: minimal

before_install:
    - sudo apt-get update
    - sudo apt-get install -y curl unzip rsync git

install:
    - curl -s -L https://github.com/getzola/zola/releases/download/v0.21.0/zola-v0.21.0-x86_64-unknown-linux-musl.tar.gz | sudo tar xvzf - -C /usr/local/bin

git:
    submodules: true

stages:
    - name: deploy
      if: |
          type = push AND \
          branch = main AND \
          commit_message !~ /^[Dd]raft/ AND
          (
            commit_message =~ /Create/ OR
            commit_message =~ /Delete/ OR
            commit_message =~ /Update/ OR
            commit_message =~ /Upload/ OR
            commit_message =~ /Nanolog:/
          )

jobs:
    include:
        - stage: deploy
          script: |
              TIMESTAMP=$(date '+%Y-%m-%d %I:%M:%S %p')
              git config --global user.email "admin@trix.is-a.dev"
              git config --global user.name "tr1xem"
              cd public/
              git checkout main
              git pull --rebase
              cd ..
              zola build
              echo "gitdir: ../.git/modules/public" > public/.git
              cd public/
              git add .
              git commit -m "CI Deployment: $TIMESTAMP" || echo "No changes to deploy."
              git push https://${GH_TOKEN}@github.com/tr1xem/tr1xem.github.io.git main
