<footer id="site-footer">
    <div>
        {%- if config.extra.footer.copyright %} {%- set current_year =
        now(utc=true) | date(format="%Y") -%}
        <p class="copyright">
            {%- if lang != config.default_language -%} {%- set footer_copyright
            = config.extra.footer[lang].copyright -%} {%- else -%} {%- set
            footer_copyright = config.extra.footer.copyright -%} {%- endif -%}
            {%- if footer_copyright != true %} {{- footer_copyright |
            markdown(inline=true) | replace(from="$YEAR", to=current_year) |
            safe -}} {%- else %} &copy; {{ config.title }}, {{ current_year }}
            {%- endif %}
        </p>
        {%- endif %} {%- if config.extra.footer.show_powered_by %}
        <p>
            {%- set zola_link = '<a
                class="link external"
                href="https://www.getzola.org"
                rel="' ~ rel_attributes ~ '"
                >Zola</a
            >' -%} {%- set ametrine_link = '<a
                class="link external"
                href="https://ametrine.daudix.one"
                rel="' ~ rel_attributes ~ '"
                >Ametrine</a
            >' -%} {{ macros_translate::translate(key="powered_by",
            default="Powered by $ZOLA and $AMETRINE",
            language_strings=language_strings) | replace(from="$ZOLA",
            to=zola_link) | replace(from="$AMETRINE", to=ametrine_link) | safe
            }}
        </p>

        {%- endif %}

        <p>
            <a class="link external" href="key/trix.pub">SSH Public Key</a>
            <a class="link external" href="key/trix.asc">PGP Public Key</a>
        </p>

        {%- if config.extra.footer.show_fediring %}
        <div class="webring">
            <a class="link external" href="https://fediring.net">Fediring</a>
            <a
                class="link previous"
                href="https://fediring.net/previous?host={{ config.base_url | replace(from='https://', to='') }}"
                title="{{ macros_translate::translate(key='previous', default='Previous', language_strings=language_strings) }}"
            >
                {{- macros_icon::icon(name="arrow-left") -}}
            </a>
            <a
                class="link random"
                href="https://fediring.net/random"
                title="{{ macros_translate::translate(key='random', default='Random', language_strings=language_strings) }}"
            >
                {{- macros_icon::icon(name="dice-three") -}}
            </a>
            <a
                class="link next"
                href="https://fediring.net/next?host={{ config.base_url | replace(from='https://', to='') }}"
                title="{{ macros_translate::translate(key='next', default='Next', language_strings=language_strings) }}"
            >
                {{- macros_icon::icon(name="arrow-right") -}}
            </a>
        </div>
        {%- endif %} {%- if config.extra.footer.show_timestamp %} {%- set
        build_timestamp = now(utc=true) | date(format=date_format_long,
        timezone=config.extra.timezone | default(value='UTC'),
        locale=date_locale) | upper -%}
        <p class="timestamp">{{ build_timestamp }}</p>
        {%- endif %}
    </div>

    {%- if config.extra.footer.socials -%}
    <ul class="socials">
        {%- for link in config.extra.footer.socials %} {%- if link.icon is
        containing("%3Csvg") -%} {{- throw(message="Footer social '" ~ link.url
        ~ "' is using SVG as an icon, which is deprecated. Use icon name from
        https://simpleicons.org instead.") -}} {%- endif -%}
        <li>
            <a href="{{ link.url }}" rel="{{ rel_attributes }} me">
                {%- set icon = load_data(path="icons/simple/" ~ link.icon ~
                ".svg", required=false) -%} {% if not icon %} {%- set icon =
                load_data(path="themes/ametrine/icons/simple/" ~ link.icon ~
                ".svg", required=false) -%} {% endif %} {{- icon | safe -}}
            </a>
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</footer>
