@use "../../themes/ametrine/sass/abstracts/functions" as *;
@use "../../themes/ametrine/sass/abstracts/mixins" as *;

h1,
h1 + p {
    text-align: center;
}

h1 {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

iframe {
    width: 50rem;
    background-color: transparent;
    border: none;
    border-radius: 0%;
    box-shadow: none;
    box-sizing: unset;
    width: 100vw;
    height: 100vh;
    outline: none;
}
