@use "../../themes/ametrine/sass/abstracts/functions" as *;

#nanolog-higher,
#nanolog-lower {
    display: block;
    position: relative;
    line-height: 1;

    &::before {
        display: block;
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -1.625rem;
        border: 0.25rem solid var(--accent-color);
        border-radius: 50%;
        background-color: var(--bg-color);
        width: 1rem;
        height: 1rem;
        content: "";
    }
}

#nanolog-higher {
    margin-block-end: -1rem;
}

#nanolog-post {
    margin: 0 auto;
    border-inline-start: 0.25rem solid var(--accent-color);
    padding-inline-start: 1rem;
    width: min(calc(var(--content-width) / 1.5), 100%);
}

#nanolog-heading {
    display: flex;
    flex-direction: column;
    margin-block-start: 2rem;

    h1 {
        margin-block-start: 0;
    }

    #nanolog-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-block-end: rpx(1) solid var(--bg-muted-2);
        padding-block-end: 1rem;

        & > p {
            margin: 0;

            small {
                color: var(--fg-muted-1);
                font-size: var(--font-size-large);
            }
        }
    }
}
