{% import "macros/icon.html" as macros_icon %}

<article id="player">
    <div id="cover-container">
        <img
            id="cover"
            width="64"
            height="64"
            class="transparent no-hover"
            src="home/image-loading.svg"
            alt=""
        />
        <div id="cd-container">
            <img
                id="cd"
                width="64"
                height="64"
                class="transparent no-hover"
                src="home/media-optical.svg"
                alt=""
            />
            <div id="cd-shade"></div>
        </div>
    </div>
    <div id="player-info">
        <div id="player-status">
            <span id="now-playing">Now Playing</span>
            <span id="last-played">Last Played</span>
        </div>
        <div id="player-title-container" class="marquee">
            <strong id="player-title" class="title">Loading…</strong>
        </div>
        <div id="player-artist-container" class="marquee">
            <span id="player-artist">Loading…</span>
        </div>
    </div>
    <a id="player-go" href="#main-content" title="View on Last.fm">
        {{- macros_icon::icon(name="caret-right") -}}
    </a>
</article>
