<div id="polaroid">
    <div id="polaroid-shine"></div>
    <div id="polaroid-photo">
        <img
            class="full transparent no-hover"
            width="144"
            height="144"
            alt="My current Discord avatar."
            src="https://api.lanyard.rest/885063317079592961.webp"
        />
    </div>
    <span id="polaroid-title">Instant photo<br />format</span>
    <span id="statuscafe-content">Loading…</span>
    <a id="statuscafe-link" href="https://github.com/tr1xem">
        <span id="statuscafe-time-ago">Commiting hard rn</span>
        <span id="statuscafe-face">⏳</span>
    </a>
</div>
