.fancy-list.linux-bunker {
    --accent-color: var(--purple-fg);
    --bg-muted-1: var(--purple-bg-1);
    --bg-muted-2: var(--purple-bg-2);
    position: relative;
    transition:
        all var(--transition),
        transform var(--transition-bezier);

    &:hover {
        background-color: var(--bg-muted-2);
    }

    &:active {
        transform: var(--active);
    }

    div {
        display: flex;
        position: absolute;
        gap: 0.5rem;
        inset-block-start: 1rem;
        inset-inline-end: 1rem;
        color: var(--accent-color);
        font-size: 1.25rem;
    }

    a {
        position: absolute;
        z-index: 1;
        inset: 0;
        border-radius: inherit;
    }

    p:last-of-type {
        margin-inline-end: 3rem;
        margin-block-end: 0;
    }

    img {
        position: absolute;
        transform: rotate(10deg);
        margin: 0;
        inset-block-end: -0.5rem;
        inset-inline-end: -0.5rem;
        width: 4rem;
        height: 4rem;
        // pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        border-style: solid;
        border-color: var(--accent-color);
        border-radius: 25%;
        transition: transform 0.6s ease-in-out;
        z-index: 10;

        &:hover {
            transform: rotate(380deg);
        }
    }
}
// article.linux-bunker:hover img {
//     // transform: scale(1.5);
//             transform: rotate(360deg);
// }
