@use "../../themes/ametrine/sass/abstracts/functions" as *;

#title {
    font-family: "kalam";
    --shift: 0.1875rem;
    color: var(--accent-color);
    line-height: 1;

    font-size: rpx(55);
    display: flex;
    transition: var(--transition-bezier);
    margin-block-start: 0;
    image-rendering: pixelated;
    width: min(rpx(497), 100%);

    &:hover {
        // Dashie!
        transform: translate(
            calc(var(--shift) * 3),
            calc(calc(var(--shift) * -1) * 3)
        );
        filter: drop-shadow(calc(var(--shift) * -1) var(--shift) 0 #1b98d1)
            drop-shadow(calc(var(--shift) * -1) var(--shift) 0 #fde85f)
            drop-shadow(calc(var(--shift) * -1) var(--shift) 0 #ec4141);

        color: #fae760;
    }

    &:active {
        // 20% cooler
        transform: translate(
            calc(calc(var(--shift) * -1) * 3),
            calc(calc(var(--shift) * -1) * 3)
        );
        filter: drop-shadow(var(--shift) var(--shift) 0 #1b98d1)
            drop-shadow(var(--shift) var(--shift) 0 #fde85f)
            drop-shadow(var(--shift) var(--shift) 0 #ec4141);
    }
    //

    @media only screen and (max-width: 944px) {
        margin: 2rem auto 1rem;
    }
}
