{% extends "base.html" %} {% import "macros/icon.html" as macros_icon %} {%
block content %}
<h1 id="message-board">{{ section.title }}</h1>

{{ section.description | markdown | safe }}
<div style="text-align: center;">
    {{ section.content | markdown | safe }}
</div>


<ul id="message-board-list">
    {%- for page in section.pages %}
    <li>
        <div>
            <a href="{{ page.permalink | safe }}">
                {{ page.date | date(format=config.extra.date_format_long |
                default(value="%B %d, %Y, %R (%Z)"),
                timezone=config.extra.timezone | default(value="UTC"),
                locale=config.extra.date_locale | default(value="en_US")) }}
            </a>
            <small>{{ page.title }}</small>
        </div>
        <div>
            {% if page.authors %}
            <div id="message-board-avatar-container">
                <img
                    src="https://github.com/{{ page.authors[0] }}.png"
                    alt="{{ page.authors[0] }} avatar"
                    class="message-board-avatar"
                />

            <span class="message-board-author-name">
            {{ page.authors[0] }}
        </span>


            </div>

            {%- endif -%} {{ page.content | safe }}
        </div>
    </li>
    {%- endfor %}
</ul>

{% endblock content %}
