{% extends "base.html" %} {% block content %}
<div id="nanolog-post">
    {%- if page.lower -%}
    <a id="nanolog-higher" href="{{ page.lower.permalink }}#up">
        <span
            >{{ page.lower.date | date(format=config.extra.date_format_long |
            default(value="%B %d, %Y, %R (%Z)"), timezone=config.extra.timezone
            | default(value="UTC"), locale=config.extra.date_locale) |
            default(value="en_US") }}</span
        >
    </a>
    {%- endif -%}

    <div id="nanolog-heading">
        <h1>
            {{ page.date | date(format=config.extra.date_format_long |
            default(value="%B %d, %Y, %R (%Z)"), timezone=config.extra.timezone
            | default(value="UTC"), locale=config.extra.date_locale) |
            default(value="en_US") }}
        </h1>
        <div id="nanolog-details">
            <p><small>{{ page.title }}</small></p>
        </div>
    </div>
    {{ page.content | safe }} {%- if page.higher -%}
    <a id="nanolog-lower" href="{{ page.higher.permalink }}#down">
        <span
            >{{ page.higher.date | date(format=config.extra.date_format_long |
            default(value="%B %d, %Y, %R (%Z)"), timezone=config.extra.timezone
            | default(value="UTC"), locale=config.extra.date_locale) |
            default(value="en_US") }}</span
        >
    </a>
    {%- endif -%}
</div>
{% endblock content %}
