{% extends "base.html" %}
{% import "macros/icon.html" as macros_icon %}

{% block content %}
<h1 id="nanolog">{{ section.title }}</h1>

{{ section.description | markdown | safe }}

<ul id="nanolog-list">
	{%- for page in section.pages %}
		<li>
			<a href="{{ page.permalink | safe }}">
				{{ page.date | date(format=config.extra.date_format_long | default(value="%B %d, %Y, %R (%Z)"), timezone=config.extra.timezone | default(value="Asia/Kolakata"), locale=config.extra.date_locale | default(value="en_US")) }}
			</a>
			<div>
				{{ page.content | safe }}
			</div>
		</li>
	{%- endfor %}
</ul>

{% endblock content %}
